body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.mainTitle {
    display: flex;
    justify-content: center;
    color: #3A3B3C;
    margin-bottom: 30px;
}

.elliotblirfucked {
   margin-left: calc(15rem);
}

/* Header */
.header {
    overflow: hidden;
    /* background: linear-gradient(to right, rgb(82, 82, 255), rgb(186, 82, 255), rgb(255, 123, 46)); */
    background-color: var(--css-main-colour);
    padding: 20px 10px;
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
  width: 10%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

.logo {
  margin: 0px;
  padding: 0px;
  width: 10%;
  height: 10%;
}
  
.header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}
  
.header a:hover {
    background-color: #ddd;
    color: black;
}
  
.header a.active {
    background-color: var(--html-button-colour);
    color: white;
}
  
.header-right {
    float: right;
}
  
@media screen and (max-width: 500px) {
.header a {
      float: none;
      display: block;
      text-align: left;
    }
.header-right {
      float: none;
    }
}

/* Side Navigation */
.sidenav {
   height: calc(100vh - (89px));
   width: 15rem;
   position: fixed;
   z-index: 1;
   top: calc(89px);
   left: 0;

   background-color: var(--preview-secondary);
   overflow-x: hidden;
   color: #fff;
}

.sidenav-header div {
   color: white;
   font-size: 40px;
   font-weight: bold;
   padding-left: 0.35rem;
   height: 3rem;
   padding-bottom: 0.75rem;
}

.sidenav-header {text-decoration: none;}

.sidelist a {
   text-decoration: none;
   padding: 6px 8px 6px 16px;
   font-size: 20px;
   color: #818181;
   display: block;
   display: flex;
   align-items: center;
   gap: 10px;
   transition: background-color 0.15s ease, color 0.1s ease;
}

.sidelist img {
   height: 1rem;
}

.sidelist a:hover {
   color: #f1f1f1;
   background-color: var(--css-button-colour);
}

.dropdown {
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
}

.dropdown a {
   margin: 0;
   padding: 0;
   padding-left: 1.5rem;
   height: 2rem;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.dropdown a:hover {
   background-color: var(--css-button-colour);
}

.dropdown div {
   margin: 0;
   padding: 0;
   font-size: 15px;
   height: 2rem;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

/* CSS Info */
.cssInfo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.codeBox {
    display: inline-block;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    overflow-x: auto; 
}

.preview-container {
    background-color: #0D0D0D;
    width: 30rem;
    height: auto;
    margin: 1rem;
    border-radius: 10px;
    padding-bottom: 0.25rem;
    color: #bbbbbb;
 }
 
 .preview-top {
    position: relative;
    color: #fff;
    border-radius: 10px 10px 0 0;
    background-color: #262626;
    height: 4rem;
    padding-left: 0.5rem;
 }
 .preview-top h2 {
    position: absolute;
    left: 0.75rem;
    top: 0;
    color: #dbdada;
    font-size: small;
 }
 
 .preview-mode {
    position: absolute;
    top: 0;
    right: 0.1rem;
    bottom: calc(1.5rem + 10px);
    font-size: 0;
    gap: 0;
    padding: 0;
    margin: 0;
 }
 .preview-options {
    position: absolute;
    left: 0.5rem;
    bottom: 5px;
    font-size: 0;
    gap: 0;
    padding: 0;
    margin: 0;
 }
 
 .preview-top button {
    color: #f6f6f6;
    background-color: #0D0D0D;
    height: 1.5rem;
    margin-top: 0.6rem;
    margin-right: 0.4rem;
    border: 0;
 }
 
 .preview-container pre {
    margin: 0.75rem;
    overflow: auto;
 }

 .infoContainer {
     margin-left: 100px;
     margin-right: 100px;
 }

 .title1 {
   position: relative;
   top: 10px;
   color: #3A3B3C;
 }

 .selectorsInfo {
   white-space: pre-line;
 }

 #colorDiv {
   width: 600px;
   height: 200px;
 }

 .colorContainer {
   display: flex;
   justify-content: center;
 }

 #rgbValues {
   display: flex;
   justify-content: center;
   cursor: pointer;
 }

 #hexValue {
   display: flex;
   justify-content: center;
   cursor: pointer;
 }

 #colorPicker {
   border-radius: none;
   position: absolute;
   border-color: #222;
 }

 .example {
   display: flex;
   justify-content: center;
 }

/* Footer */
  footer {
    margin-left: 15rem;
    background-color: #222;
    color: #a7a7a7;
    font-size: 16px;
    margin-top: 50px;
  }
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row {
    padding: 1em 1em;
    display: flex;
    justify-content: space-evenly;
  }
  .row.primary {
    display: flex;
    justify-content: center;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }
  h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1em;
    white-space: nowrap;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  li:not(:first-child) {
    margin-top: 0.8em;
  }
  ul li a {
    color: #a7a7a7;
    text-decoration: none;
  }
  ul li a:hover {
    color: #fff;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }

  button {
    background-color: #c7940a;
    color: #ffffff;
  }
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
  }
  .social i {
    color: #bac6d9;
  }
  
  .copyright {
    padding: 0.3em 1em;
    /* background: linear-gradient(to right, rgb(82, 82, 255), rgb(186, 82, 255), rgb(255, 123, 46)); */
    background: var(--css-main-colour)
  }
  .footer-menu{
    float: left;
      margin-top: 10px;
  }
  
  .footer-menu a{
    color: #ffffff;
    padding: 6px;
  
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .footer-menu a:hover{
   color: black;
   background-color: #ddd;
  }
  .copyright p {
    font-size: 0.9em;
    text-align: right;
    color: white;
  }
  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
  
  }